@model IEnumerable<EFCodeFirst.EmployeeTbl>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentTbl.DeptName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.empName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.empSal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DepartmentTbl.DeptName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.empName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.empSal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.empId }) |
            @Html.ActionLink("Details", "Details", new { id=item.empId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.empId })
        </td>
    </tr>
}

</table>
