@model MVCAssignmentAug19.ProductTbl

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductTbl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookTable.BookName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookTable.BookName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
